<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soboapps.loyaltycard">

    <uses-sdk android:minSdkVersion="15" android:targetSdkVersion="24" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-feature android:name="android.hardware.nfc" />


    <application
        android:label="@string/app_name"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:configChanges="orientation|keyboardHidden"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.soboapps.loyaltycard.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.soboapps.loyaltycard.CardSettings"
            android:screenOrientation="portrait"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleInstance"
            android:label="@string/card_settings" />
        <activity
            android:name="com.soboapps.loyaltycard.AboutActivity"
            android:screenOrientation="portrait"
            android:finishOnTaskLaunch="true"
            android:label="@string/aboutus" />
        <activity
            android:name="com.soboapps.loyaltycard.LocationsActivity"
            android:screenOrientation="portrait"
            android:finishOnTaskLaunch="true"
            android:label="@string/storelocation" />
        <activity
            android:name="com.soboapps.loyaltycard.MagicAppRestart"
            android:screenOrientation="portrait"
            android:finishOnTaskLaunch="true" />
        <activity
            android:name="com.soboapps.loyaltycard.ChangeThemeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance"
            android:finishOnTaskLaunch="true" />
        <activity
            android:name="com.jinlin.zxing.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

    </application>

</manifest>
